@{
    ViewData["Title"] = "Add a book";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .boxy {
            padding-top: 15px;
        }
    </style>
</head>
<body>

    <div class="boxy">
        <div class="container">

            <div class="jumbotron">
                <h1> @ViewData["Title"]</h1>
                <h3>@ViewData["Message"]</h3>
            </div>
            @using (Html.BeginForm("ResultAddBook", "Home", FormMethod.Post))
            {
                  <!--required isnt working-->
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" placeholder="Beginning ASP.NET 4" required>
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" name="author" class="form-control" placeholder="Victor Victor RJ" required>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN:</label>
                    <input type="text" name="isbn" class="form-control" placeholder="978-0-470-50221-1" required>
                </div>
                <div class="form-group">
                    <label for="year">Year of publication (AAAA):</label>
                    <input type="text" maxlength="4" name="year" class="form-control" placeholder="2010" required>
                </div>
                <div class="form-group">
                    <label for="typeBook">Type of the book:</label>
                    <input type="text" name="typeBook" class="form-control" placeholder="Education" required>
                </div>
                <button type="submit" class="btn btn-default" id="submit" onclick="location.href='@Url.Action("ResultAddBook","Home")'">Save it</button>
            }
        </div>
    </div>
</body>
</html>