@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .boxy {
            padding-top: 15px;
        }
    </style>
</head>
<body>
    <div class="boxy">
        <div class="container">
                <!--<script>
                alert("hello");
            </script>-->
            <div class="jumbotron" style="background-color: #c4dbef !important">
                <h1> @ViewData["Title"]</h1>
                <h2>@ViewData["Message"]</h2>
  
            </div>
            <div class="container">
                <h2></h2>
                <div class="row">
                    <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='@Url.Action("CrudForBooks","Home")'">CRUD for books</button>
                    <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='@Url.Action("CrudForTypeBooks","Home")'">CRUD for type of books</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
