@{
    var Books = (Dictionary<string, Dictionary<string, string>>)ViewData["Books"];
}

<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>ISBN</th>
            <th>Autor</th>
            <th>Fecha </th>
            <th>Tipo</th>
        </tr>

        @foreach (var Book in Books)
        {
        <tr>
            <th>@Book.Key</th>

            @foreach (var DataBook in Book.Value)
             {

        <th>@DataBook.Value</th>
                }
        </tr>
        }
  






    </table>
</div>
